In [3]:
# dependencies
import pandas as pd 
import requests
import json
import gmaps

from config import gkey

print(gkey)

AIzaSyBK1tvvtPGH4LVQANoWGo1Qvb62IzNe0lk

In [4]:
raw_data = pd.read_csv("../Resources/Twitter_Dec 2019_Feb 2020.csv")
raw_data.columns

Index(['Tweet Id', 'Tweet URL', 'Tweet Posted Time (UTC)', 'Tweet Content',
       'Tweet Type', 'Client', 'Retweets Received', 'Likes Received',
       'Tweet Location', 'Lat', 'Long', 'Tweet Language', 'User Id', 'Name',
       'Screen Name', 'User Bio', 'Verified or Non-Verified', 'Profile URL',
       'Protected or Non-protected', 'User Followers', 'User Following',
       'User Account Creation Date'],
      dtype='object')

In [13]:
reduced_df = raw_data.loc[:, ['Tweet Id',  'Tweet URL', 'Tweet Location']]
reduced_df = reduced_df[reduced_df['Tweet Location'].notna()]
reduced_df.head()

,Tweet Id,Tweet URL,Tweet Location
1,"""1233417742520332290""",https://twitter.com/LAMofficial/status/1233417...,Los Angeles CA USA
2,"""1233417741027225602""",https://twitter.com/mitchellvii/status/1233417...,"Miami, FL"
3,"""1233417699264356357""",https://twitter.com/HelenKennedy/status/123341...,NYC and the North Fork
4,"""1233417674274807808""",https://twitter.com/W7VOA/status/1233417674274...,James S. Brady Press Briefing Room
6,"""1233417416123834369""",https://twitter.com/GHS/status/123341741612383...,NY/Delhi/Rio/Beijing/Nairobi/Joburg/London

In [14]:
#cleaning column values
#columns = ['Tweet Id',  'Tweet URL', 'Tweet Location', 'Lat', 'Long'] #list for filter
#search_for = ['north carolina', 'charlotte', 'n.c.', 'raleigh'] 

filtered_df = reduced_df[reduced_df['Tweet Location'].str.contains('north carolina|charlotte|raleigh|N[.]C[.]', 
                                                                   case = False)] #insensitive  
len(filtered_df)
filtered_df.head()

,Tweet Id,Tweet URL,Tweet Location
441,"""1233400471458586625""",https://twitter.com/BGEA/status/12334004714585...,"Charlotte, N.C."
977,"""1233381598285963264""",https://twitter.com/HuffmanForNC/status/123338...,"North Carolina, USA"
1357,"""1232304248404180993""",https://twitter.com/sbjsbd/status/123230424840...,"Charlotte, NC"
4419,"""1230546010562154498""",https://twitter.com/DukeHealth/status/12305460...,"Durham, North Carolina"
4827,"""1229542796874387456""",https://twitter.com/Aubreyz8/status/1229542796...,"North Carolina, USA"

In [9]:
#find geocode from string values
lats = [] 
lngs = []

places = filtered_df['Tweet Location'].tolist()
api_param = [w.replace(' ', '+') for w in places]

base_url = "https://maps.googleapis.com/maps/api/geocode/json?&key=" + gkey
#sample parameter use: address=1600+Amphitheatre+Parkway,+Mountain+View,+CA
 
#query_url = base_url + "&address=1600+Amphitheatre+Parkway,+Mountain+View,+CA"
#resp_data = requests.get(query_url).json() 
##print(json.dumps(resp_data, indent=4, sort_keys=True))
#resp_data['results'][0]['geometry']['location']['lat']
    
for place in api_param:
    query_url = base_url + "&address=" + place 
    resp_data = requests.get(query_url).json() 
    #print(query_url)
    
    try: 
        lats.append(resp_data['results'][0]['geometry']['location']['lat'])  
        lngs.append(resp_data['results'][0]['geometry']['location']['lng'])  
    except:
        print("404 Place Not Found!")
        pass
        

#lats_lngs = zip(lats, lngs)

lat = pd.Series(lats)
filtered_df['Latitude'] = hotels.values 
hotel_df

404 Place Not Found!
<zip object at 0x7fa613754bc0>

In [ ]:
#maps 

gmaps.configure(api_key = gkey)
map_figure = gmaps.figure()

layer = gmaps.heatmap_layer(loc_df, weights = humidity_df, dissipating = False, 
                            max_intensity = humidity_max, point_radius = 1)

map_figure.add_layer(layer)
map_figure